.activity {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    @include font-size(23);
    margin-bottom: 0.5rem;
    line-height: 1.5;
    a {
      color: $c-heading;

      &:hover {
        color: $c-anchor;
        text-decoration: none !important;
      }
    }
  }

  &__meta {
    @include font-s-regular();
    @include font-size(15);
    color: $c-text-light;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    li:first-child {
      position: relative;
      margin-right: 32px;

      &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: darken($c-border, 8);
        display: block;
        position: absolute;
        right: -21px;
        top: 9px;
      }
    }
  }

  &__intro {
    margin-bottom: 0.5rem;
  }

  &__link {
    @include anchor();
  }
}
