$c-yellow: #ffde4a;

.portfolio {
  &__items {
    @media (min-width: $width-slim) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -8px;
    }
  }

  &__item {
    display: block;
    padding: 0 0 32px 0;
    border: none;

    @media (min-width: $width-slim) {
      flex: 0 0 50%;
      padding: 0 8px 32px 8px;
    }

    @media (min-width: $width-wide) {
      flex: 0 0 33.33333%;
    }

    &:hover {
      border: none;

      .portfolio__image {
        opacity: 0.7;
      }
    }
  }

  &__media {
    position: relative;
    padding-bottom: 70%;
    margin-bottom: 8px;
  }

  &__image {
    position: absolute;
    opacity: 1;
    transition: opacity $transition;
    background-color: $c-border;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__gallery {
    position: relative;
    margin-bottom: 16px;
    background-color: $c-border;
    padding-bottom: 64%;
  }

  &__video {
    background-color: rgb(241, 241, 241);
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 16px;

    > iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #000;
    }
  }

  &__title {
    @include font-black();
    @include font-size(23);
    margin: 0;
    line-height: 1;

    @media (min-width: $width-mid) {
      @include font-size(19);
    }
  }

  &__type {
    @include font-s-regular();
    @include font-size(15);
    color: $c-text-light;
    position: relative;
    top: -2px;
  }

  &__project {
    @media (min-width: $width-wide) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__about {
    padding: 0 0 32px 0;

    @media (min-width: $width-wide) {
      padding: 40px 0 0 48px;
      width: 43%;
    }
  }

  &__heading {
    @include font-size(37);
  }

  &__meta {
    @include font-size(15);
    list-style-type: circle;
    margin: 0;
    padding: 0 0 0 24px;

    li {
      margin-bottom: 4px;

      span {
        @include font-medium();
      }
    }
  }

  &__showcase {
    flex: 1;
  }
}
