$c-text: #2d2d2d;
$c-text-light: #717171;
$c-heading: #131313;
$c-anchor: #186dc1;

$c-border: #ececec;

$color-instagram: #c13584;
$color-twitter: #1da1f2;
$color-linkedin: #0077b5;
$color-github: #6e5494;
$color-medium: #00ab6c;

$width-full: 1200px;
$width-large: 1008px;
$width-wide: 880px;
$width-mid: 704px;
$width-slim: 512px;
$width-tiny: 360px;

$transition: 0.3s ease;
