.layout {
  &__wrapper {
    min-height: 100vh;
    position: relative;
  }

  &__main {
    padding: 48px 0 64px 0;
  }

  &__wide {
    @include layout-wide();
  }

  &__slim {
    @include layout-slim();
  }
}
